:root {
    --primary-color: #ff2222;
    --font-dark: #1f1f1f;
    --font-light: #f1f1f1;
    --hover: #ac2222;
    --accent: #6dfbf4;
}

.landing-navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    /* --- KEY CHANGE --- */
    /* Distributes space between the logo and the auth links */
    justify-content: space-between; 
    /* ------------------ */
    align-items: center; /* Vertically aligns the logo and button */
    box-sizing: border-box;
    z-index: 10; /* Ensure navbar is on top */
}

.auth-links {
    display: flex;
    align-items: center;
}

.landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--primary-color) 40%, #ff5d5d 100%);
    color: var(--font-light);
    font-family: 'Poppins', sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.landing-container h1 {
    font-size: 20dvh;
    font-weight: 700;
    margin: 0;
    margin-bottom: -4rem;
}

.auth-links button {
    background-color: var(--font-light);
    color: var(--font-dark);
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.auth-links button:hover {
    background-color: var(--hover);
    color: var(--font-light)
}

.auth-links a {
    color: var(--font-light);
    text-decoration: underline;
    margin-top: 0.75rem;
    font-size: 0.9rem;
}

.auth-links a:not(:first-child) {
    margin-left: 1rem;
}

.new-user-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.new-user-buttons button{
  background-color: var(--font-light);
  color: var(--font-dark);
  border: none;
  border-radius: 6px;
  width: auto;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.new-user-buttons button:hover {
  background-color: var(--hover);
  color: var(--font-light)
}

