.navbar {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    /* Basic styling */
    background-color: transparent; 
    z-index: 1000;
    /* Layout using Flexbox */
    display: flex;
    align-items: center;
    padding: 0.75rem 2rem;
}

.navbar-logo a {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--font-light);
    text-decoration: none;
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.navbar-logo a:hover {
    color: var(--hover); /* Color change on hover */
}