/* User Dropdown Styles */
.user-dropdown-container {
  position: relative;
}

.auth-links .user-icon-button {
  background: none;
  border: 2px solid var(--font-light);
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-light);
  transition: all 0.2s ease;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.auth-links .user-icon-button:hover {
  opacity: 0.8;
  background-color: var(--font-light);
  color: var(--primary-color);
}

.user-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--font-light);
  border: 5px solid var(--font-light);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  min-width: 160px;
  margin-top: 2rem;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 8px;
  color: #333;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--font-light);
  font-weight: 600;
}

.dropdown-divider {
  height: 1px;
  background-color: var(--font-light);
  margin: 4px 0;
}

/* Settings Page Layout */
.settings-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  width: 80vw;
}

.settings-card {
  display: flex;
  
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 90%;
  min-height: 80vh;
}